parameters:
	ignoreErrors:
		-
			message: '#^Unable to resolve the template type T in call to static method TYPO3\\CMS\\Core\\Utility\\GeneralUtility\:\:makeInstance\(\)$#'
			identifier: argument.templateType
			count: 1
			path: ../../Classes/Resource/RemoteResourceCollectionFactory.php
